{
  "openapi": "3.1.0",
  "info": {
    "title": "SpiritVale Community Hub API",
    "version": "1.0.0",
    "description": "Static JSON API for SpiritVale patch notes. All endpoints are CORS-open (Access-Control-Allow-Origin: *). Versioned alias: /v1/<path> rewrites to /<path> with no breaking changes in the v1 surface.",
    "contact": {
      "url": "https://github.com/Tam4shii/spiritvale-site"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/Tam4shii/spiritvale-site/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://spiritvale.tama.sh",
      "description": "Production (Cloudflare Pages)"
    },
    {
      "url": "https://spiritvale.tama.sh/v1",
      "description": "Versioned alias — identical to root, provided for contract stability"
    }
  ],
  "paths": {
    "/patches/latest.json": {
      "get": {
        "operationId": "getLatestPatch",
        "summary": "Latest patch note",
        "description": "Returns the most recently released patch note. Alias: /latest.json, /v1/patches/latest.json.",
        "tags": [
          "Patches"
        ],
        "responses": {
          "200": {
            "description": "Latest patch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Patch"
                }
              }
            }
          }
        }
      }
    },
    "/patches/index.json": {
      "get": {
        "operationId": "getPatchIndex",
        "summary": "All versions index",
        "description": "Returns version list with change counts and archive URLs. Alias: /manifest.json, /patches/manifest.json.",
        "tags": [
          "Patches"
        ],
        "responses": {
          "200": {
            "description": "Version index",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchIndex"
                }
              }
            }
          }
        }
      }
    },
    "/patches/{version}.json": {
      "get": {
        "operationId": "getPatchByVersion",
        "summary": "Specific patch by version",
        "description": "Returns a single patch note. Versioned files are immutable (Cache-Control: immutable, 1 year).",
        "tags": [
          "Patches"
        ],
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "description": "Version string prefixed with 'v', e.g. v0.17.0",
            "schema": {
              "type": "string",
              "example": "v0.17.0"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Patch note",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Patch"
                }
              }
            }
          },
          "404": {
            "description": "Version not found"
          }
        }
      }
    },
    "/search-index.json": {
      "get": {
        "operationId": "getSearchIndex",
        "summary": "Full-text search index",
        "description": "Flat array of all 182+ patch entries for client-side full-text search at /search/.",
        "tags": [
          "Discovery"
        ],
        "responses": {
          "200": {
            "description": "Search index",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "generated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "patch_count": {
                      "type": "integer"
                    },
                    "entries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SearchEntry"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tag/index.json": {
      "get": {
        "operationId": "getTagIndex",
        "summary": "Tag list",
        "description": "Returns all change-type tags (added, changed, fixed, removed) with entry counts.",
        "tags": [
          "Discovery"
        ],
        "responses": {
          "200": {
            "description": "Tag index",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tag": {
                            "type": "string"
                          },
                          "count": {
                            "type": "integer"
                          },
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/schema/patch.json": {
      "get": {
        "operationId": "getPatchSchema",
        "summary": "JSON Schema for patch files",
        "description": "JSON Schema (draft-07) defining the structure of every patches/v*.json file. Use for client-side validation or auto-generating typed clients.",
        "tags": [
          "Meta"
        ],
        "responses": {
          "200": {
            "description": "Patch JSON Schema",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "getOpenApiSpec",
        "summary": "This OpenAPI spec",
        "description": "OpenAPI 3.1 spec for the SpiritVale Community Hub API.",
        "tags": [
          "Meta"
        ],
        "responses": {
          "200": {
            "description": "OpenAPI document",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/feed.xml": {
      "get": {
        "operationId": "getAtomFeed",
        "summary": "Atom feed of patch releases",
        "description": "RFC 4287 Atom feed. Alias: /releases.atom.",
        "tags": [
          "Feeds"
        ],
        "responses": {
          "200": {
            "description": "Atom feed",
            "content": {
              "application/atom+xml": {}
            }
          }
        }
      }
    },
    "/feed.json": {
      "get": {
        "operationId": "getJsonFeed",
        "summary": "JSON Feed 1.1 of patch releases",
        "description": "JSON Feed 1.1 (jsonfeed.org). Alias: /releases.json.",
        "tags": [
          "Feeds"
        ],
        "responses": {
          "200": {
            "description": "JSON Feed",
            "content": {
              "application/feed+json": {}
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Patch": {
        "type": "object",
        "description": "A single SpiritVale patch note. Full schema: /schema/patch.json.",
        "required": [
          "version",
          "title",
          "date",
          "added",
          "changed",
          "fixed",
          "removed"
        ],
        "properties": {
          "version": {
            "type": "string",
            "example": "0.17.0"
          },
          "title": {
            "type": "string",
            "example": "The Echoing Spire"
          },
          "date": {
            "type": "string",
            "format": "date",
            "example": "2026-05-25"
          },
          "current": {
            "type": "boolean"
          },
          "url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "steam_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "steam_news_id": {
            "type": "string"
          },
          "released_at": {
            "type": "string",
            "format": "date-time"
          },
          "added": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "changed": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fixed": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "removed": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PatchIndex": {
        "type": "object",
        "properties": {
          "latest_version": {
            "type": "string",
            "example": "0.17.0"
          },
          "last_polled_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "UTC ISO-8601 timestamp of the most recent Steam poll. Always UTC regardless of server local timezone; see poll_tz. A date gap vs. wall-clock date is normal when the server is in UTC+N."
          },
          "versions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "version": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "date": {
                  "type": "string",
                  "format": "date"
                },
                "current": {
                  "type": "boolean"
                },
                "archive_url": {
                  "type": "string"
                },
                "steam_news_id": {
                  "type": "string"
                },
                "change_counts": {
                  "type": "object",
                  "properties": {
                    "added": {
                      "type": "integer"
                    },
                    "changed": {
                      "type": "integer"
                    },
                    "fixed": {
                      "type": "integer"
                    },
                    "removed": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "poll_tz": {
            "type": "string",
            "enum": [
              "UTC"
            ],
            "description": "Timezone of last_polled_at. Always \"UTC\"; included to make the timestamp self-documenting."
          }
        }
      },
      "SearchEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "added",
              "changed",
              "fixed",
              "removed",
              "deprecated",
              "security"
            ]
          },
          "text": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Patches",
      "description": "Patch note data endpoints"
    },
    {
      "name": "Discovery",
      "description": "Search and tag indexes"
    },
    {
      "name": "Feeds",
      "description": "Syndication feeds (Atom, JSON Feed)"
    },
    {
      "name": "Meta",
      "description": "Schema and API docs"
    }
  ]
}
